@import "reset";

:host {
  all: initial;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #FFFFEE;
  color: #333;
  font-family: mono;
  font-size: 1.5rem;
  box-shadow: 3px 3px 10px 0px black;
  position: absolute;
  border: 1px solid black;
  width: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  min-width: 450px;
  height: 10.8em;
  line-height: 1;

  &> * {
    flex: 1;
  }

  .middle-bar {
    flex: 2;
    padding: 10px;

    .top-border {
      border-top: 2px solid black;
    }

    .bottom-border {
      border-bottom: 2px solid black;
    }

    .vert-bar {
      border-right: 2px solid black;
      height: 12px;
    }

    #display-area {
      font-size: 2.7rem;
      overflow: visible;
      margin:  0.3em 0;
    }
  }

  .top-bar,
  .bottom-bar {
    font-size: 1rem;
    position: relative;
  }

  .bottom-bar {
    &> div {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
    }
  }

  .pause {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
  }

  .pause,
  .close-btn,
  .wpm-decrease,
  .wpm-increase {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    font-family: mono;
  }

  .close-btn {
    position: absolute;
    top: 0.4em;
    right: 0.5em;
    cursor: pointer;
  }

  .red-letter {
    color: #CC0033;
  }
}
