/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#spritz-top-border {
  border-top: 2px solid black;
}

.spritz-vert-bar {
  border-right: 2px solid black;
  height: 12px;
}

#spritz-bottom-border {
  border-bottom: 2px solid black;
}

#spritz-display-area {
  font-size: 2.7rem;
  margin:  0.3em 0;
}

#spritz-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #FFFFEE;
  color: #333;
  font-family: mono;
  font-size: 1.5rem;
  box-shadow: 3px 3px 10px 0px black;
  position: absolute;
  border: 1px solid black;
  width: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  min-width: 450px;
  height: 10.8em;
}

#spritz-container > * {
  flex: 1;
}

#spritz-container > .spritz-middle-bar {
  flex: 2;
  padding: 10px;
}

.spritz-top-bar,
.spritz-bottom-bar {
  font-size: 1rem;
  position: relative;
}

.spritz-bottom-bar > div {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

.spritz-close-btn,
.wpm-decrease,
.wpm-increase {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-family: mono;
}

.spritz-close-btn {
  position: absolute;
  top: 0.4em;
  right: 0.5em;
  cursor: pointer;
}

.red-letter {
  color: #CC0033;
}
