 body {
   box-sizing: border-box;
   font-family: mono;
   font-size: 1.5rem;
 }

 #spritz-top-border {
   border-top: 2px solid black;
 }

 .spritz-vert-bar {
   border-right: 2px solid black;
   height: 12px;
 }

 #spritz-bottom-border {
   border-bottom: 2px solid black;
 }

 #spritz-display-area {
   font-size: 2.7rem;
   margin:  0.1em 0;
 }

 #spritz-container {
   display: flex;
   box-shadow: 3px 3px 10px 0px black;
   align-items: center;
   position: absolute;
   border: 1px solid black;
   padding: 10px;
   width: 40%;
   left: 50%;
   transform: translateX(-50%);
   top: 10%;
   z-index: 1000;
   background: white;
   min-width: 450px;
   height: 8em;
 }

 #spritz-container > * {
   flex: 1;
 }
